In [ ]:
%pip install ipython-sql psycopg2

In [2]:
%load_ext sql

In [3]:
%load_ext dotenv
%dotenv
import os
dbpw = os.environ.get("postgress_pw")

In [4]:
%sql postgresql://postgres:{dbpw}@localhost:5432/health_db

# EASY QUERIES

1. Number of female patients with ’anchor age’ between 18 AND 30 (Use only ’patients’ table).
Output: count

In [ ]:
%%sql
SELECT COUNT(*) 
FROM patients 
WHERE Gender = 'F' AND (anchor_age >= 18 AND anchor_age <= 30);

2. Patient who was admitted the most number of times in the hospital.
Output: subject id, num admissions
Order: subject id (Ascending)

In [ ]:
%%sql
SELECT p.subject_id, COUNT(*) AS num_admissions
FROM patients p 
JOIN admissions a ON p.subject_id = a.subject_id 
GROUP BY p.subject_id
HAVING COUNT(*) = (
    SELECT MAX(admissions_count)
    FROM (
        SELECT COUNT(*) AS admissions_count
        FROM admissions
        GROUP BY subject_id
        ) AS subquery
    )
ORDER BY p.subject_id ASC;

3. Number of ’ROUTINE’ lab-events which resulted in an ’abnormal’ test result (Use ’priority’, ’flag’ columns).
Output: count

In [ ]:
%%sql
SELECT COUNT(*) 
FROM labevents 
WHERE flag = 'abnormal' AND priority = 'ROUTINE';

4. Number of unique procedures the patient with subject id = ’10000117’ has undergone (Two procedures are
considered different if either their icd version or icd code are different).
Output: count

In [ ]:
%%sql
SELECT COUNT(DISTINCT CONCAT(icd_version,icd_code)) AS count 
FROM procedures_icd 
WHERE subject_id = '10000117';

5. Person whose first careunit of ICUSTAY is ’Coronary Care Unit (CCU)’ most number of times.
Output: subject id, anchor age, count
Order: anchor age (Descending), subject id(Descending)

In [ ]:
%%sql
SELECT p.subject_id, p.anchor_age, COUNT(icu.stay_id) AS count
FROM patients p join icustays icu ON p.subject_id = icu.subject_id
WHERE icu.first_careunit = 'Coronary Care Unit (CCU)' 
GROUP BY p.subject_id
HAVING COUNT(icu.stay_id) = (
    SELECT MAX(count)
    FROM (
        SELECT COUNT(stay_id) AS count
        FROM icustays
        WHERE first_careunit = 'Coronary Care Unit (CCU)'
        GROUP BY subject_id
    ) AS subquery
)
ORDER BY count desc, anchor_age desc, subject_id desc;

6. Number of admissions which resulted in a diagnosis of ’Cholera due to vibrio cholerae’
Output: count

In [ ]:
%%sql
SELECT COUNT(d.subject_id) 
FROM diagnoses_icd d 
JOIN d_icd_diagnoses diag ON d.icd_code = diag.icd_code 
WHERE diag.long_title='Cholera due to vibrio cholerae';

7. ’pharmacy id’ of the pharmacy which was least visited by patients (Patient visits are only counted once,
even if the same patient visited the pharmacy multiple times across various admissions).
Output: pharmacy id, num patients visited
Order: pharmacy id (Ascending)

In [ ]:
%%sql
SELECT phar.pharmacy_id, COUNT(DISTINCT phar.subject_id) AS num_patients_visited
FROM prescriptions phar 
GROUP BY phar.pharmacy_id
HAVING COUNT(DISTINCT phar.subject_id) = (
        SELECT MIN(num_patients_visited)
        FROM (
            SELECT COUNT(DISTINCT subject_id) AS num_patients_visited
            FROM prescriptions
            GROUP BY pharmacy_id
        ) AS subquery
    )
ORDER BY phar.pharmacy_id ASC;

8. Patients who were diagnosed with ’Typhoid fever’ AND admitted in the ICU during the same admission.
(Even if a person satisfies the given criteria in multiple admission, output only once)
Output: subject id, anchor age
Order: subject id (Acsending), anchor age (Ascending)

In [ ]:
%%sql
SELECT DISTINCT p.subject_id, p.anchor_age
FROM patients p
JOIN diagnoses_icd diag_icd ON p.subject_id = diag_icd.subject_id
JOIN d_icd_diagnoses d ON diag_icd.icd_code = d.icd_code AND diag_icd.icd_version = d.icd_version
JOIN icustays icu ON diag_icd.subject_id = icu.subject_id AND diag_icd.hadm_id = icu.hadm_id
WHERE d.long_title = 'Typhoid fever' AND icu.stay_id IS NOT NULL;

9. Number of Admissions for which one of the lab-event resulted in a n ’abnormal’ output AND the patient
died during the same admission.
Output: count

In [5]:
%%sql
SELECT COUNT(DISTINCT adm.subject_id) 
FROM admissions adm 
JOIN labevents lab ON adm.hadm_id = lab.hadm_id AND adm.subject_id = lab.subject_id
WHERE lab.flag = 'abnormal' AND adm.hospital_expire_flag = 1;

 * postgresql://postgres:***@localhost:5432/health_db
1 rows affected.

[(4020,)]

10. Patients with anchor age less than 50, who were admitted multiple times AND underwent atleast one same
procedure during two different admissions.
Output: subject id, anchor age
Order: subject id (Acsending), anchor age (Ascending)

In [ ]:
%%sql
SELECT p.subject_id, p.anchor_age
FROM patients p
WHERE p.anchor_age < 50
AND exists (
    SELECT 1
    FROM procedures_icd pr1
    join procedures_icd pr2 ON pr1.subject_id = pr2.subject_id
        AND pr1.icd_version = pr2.icd_version
        AND pr1.icd_code = pr2.icd_code
        AND pr1.hadm_id <> pr2.hadm_id
    WHERE pr1.subject_id = p.subject_id
)
ORDER BY p.subject_id ASC, p.anchor_age ASC;